<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UseDatabase" value="false" />
    <add key="ExchangeSpreadPercent" value="2.00" />
  </appSettings>
  <connectionStrings>
    <add name="ExchangeOfficeDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ExchangeOfficeDb;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ExchangeOffice.Service.ExchangeOfficeService" behaviorConfiguration="ExchangeOfficeBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="ExchangeOffice.Service.IExchangeOfficeService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ExchangeOfficeBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
